{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "external-helpers"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}